parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Employee\|Illuminate\\Database\\Eloquent\\Collection\<int, Easybdit\\LaravelEasyAttendance\\Models\\Employee\>\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Console/Commands/GenerateSalary.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$net_salary\.$#'
			identifier: property.notFound
			count: 1
			path: src/Console/Commands/GenerateSalary.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$name\.$#'
			identifier: property.notFound
			count: 3
			path: src/Console/Commands/SyncAttendanceDevices.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: src/Filament/Resources/AttendanceCorrectionResource.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection\:\:\$subject\.$#'
			identifier: property.notFound
			count: 1
			path: src/Filament/Resources/AttendanceCorrectionResource.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Attendance\:\:\$subject\.$#'
			identifier: property.notFound
			count: 1
			path: src/Filament/Resources/AttendanceResource.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: src/Filament/Resources/EmployeeResource/RelationManagers/LeavesRelationManager.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: src/Filament/Resources/LeaveResource.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: src/Filament/Resources/OvertimeRecordResource.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$ip\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AdmsPushController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$last_seen_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AdmsPushController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:attendanceOn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/AttendanceController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:checkIn\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/AttendanceController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:checkOut\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/AttendanceController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:attendanceCorrections\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/AttendanceCorrectionController.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:requestAttendanceCorrection\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Http/Controllers/AttendanceCorrectionController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$comm_key\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceDeviceController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$ip\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceDeviceController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$port\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceDeviceController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendancePrintController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$employee\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendancePrintController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/AttendancePrintController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Collection\<int, Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\>\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Http/Controllers/AttendancePrintController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/Http/Controllers/AttendancePrintController.php

		-
			message: '#^Relation ''employee'' is not found in Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/AttendancePrintController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$employee\.$#'
			identifier: property.notFound
			count: 5
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$first_in\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$last_out\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$late_minutes\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:\$employee_code\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$absent_days\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$basic_salary\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$deduction_amount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$employee\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$late_days\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$leave_days\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$net_salary\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$overtime_amount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$overtime_hours\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$present_days\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$special_pay_amount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Collection\<int, Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\>\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Relation ''employee'' is not found in Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Relation ''employee'' is not found in Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/AttendanceReportController.php

		-
			message: '#^Relation ''department'' is not found in Easybdit\\LaravelEasyAttendance\\Models\\Designation model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Http/Controllers/DesignationController.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection\:\:\$date\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/AttendanceCorrection.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection\:\:\$requested_in\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AttendanceCorrection.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection\:\:\$requested_out\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AttendanceCorrection.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection\:\:\$subject\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/AttendanceCorrection.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$ip\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AttendanceDevice.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$last_seen_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AttendanceDevice.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$serial_number\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AttendanceDevice.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$first_in\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AttendanceSummary.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$last_out\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/AttendanceSummary.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\LeaveType\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Employee.php

		-
			message: '#^Method Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:leaveBalances\(\) should return Illuminate\\Support\\Collection\<int, array\{leave_type_id\: int, leave_type\: string, allowed\: int\|null, used\: int, remaining\: int\|null\}\> but returns Illuminate\\Support\\Collection\<int, array\{leave_type_id\: int, leave_type\: mixed, allowed\: int\|null, used\: int, remaining\: int\|null\}\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Employee.php

		-
			message: '#^Method Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:recordPunch\(\) should return Easybdit\\LaravelEasyAttendance\\Models\\Attendance but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Employee.php

		-
			message: '#^Method Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:requestAttendanceCorrection\(\) should return Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: src/Models/Employee.php

		-
			message: '#^Parameter \#1 \$attendance of class Easybdit\\LaravelEasyAttendance\\Events\\AttendanceRecorded constructor expects Easybdit\\LaravelEasyAttendance\\Models\\Attendance, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Models/Employee.php

		-
			message: '#^Parameter \#1 \$correction of class Easybdit\\LaravelEasyAttendance\\Events\\AttendanceCorrectionRequested constructor expects Easybdit\\LaravelEasyAttendance\\Models\\AttendanceCorrection, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: src/Models/Employee.php

		-
			message: '#^Parameter \#1 \$punches of static method Easybdit\\LaravelEasyAttendance\\Models\\Attendance\:\:resolveDayWindow\(\) expects Illuminate\\Support\\Collection\<int, Easybdit\\LaravelEasyAttendance\\Models\\Attendance\>, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Models/Employee.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$end_date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Leave.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$start_date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Leave.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\LeaveType\:\:\$days_allowed_per_year\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/LeaveType.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$date\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$last_out\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$ot_minutes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$shift_end\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:\$basic_salary\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$note\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$source\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/OvertimeRecord.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SalarySlip\:\:\$basic_salary\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/SalarySlip.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SpecialWorkingDay\:\:\$date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/SpecialWorkingDay.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SpecialWorkingDay\:\:\$employee_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/SpecialWorkingDay.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SpecialWorkingDay\:\:\$payment_amount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/SpecialWorkingDay.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SpecialWorkingDay\:\:\$type\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/SpecialWorkingDay.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$ip\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/AttendanceDeviceSyncFailedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/AttendanceDeviceSyncFailedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$port\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/AttendanceDeviceSyncFailedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:\$employee_code\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/AttendanceMarkedLateNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:\$name\.$#'
			identifier: property.notFound
			count: 3
			path: src/Notifications/AttendanceMarkedLateNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$employee\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/LeaveRequestedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$employee_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/LeaveRequestedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$end_date\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/LeaveRequestedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$reason\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/LeaveRequestedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$start_date\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/LeaveRequestedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$end_date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/LeaveReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$review_note\.$#'
			identifier: property.notFound
			count: 3
			path: src/Notifications/LeaveReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$start_date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/LeaveReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Leave\:\:\$status\.$#'
			identifier: property.notFound
			count: 3
			path: src/Notifications/LeaveReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$date\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/OvertimeReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$note\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/OvertimeReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$ot_amount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/OvertimeReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$ot_hours\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/OvertimeReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\OvertimeRecord\:\:\$status\.$#'
			identifier: property.notFound
			count: 3
			path: src/Notifications/OvertimeReviewedNotification.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$comm_key\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/AttendanceDeviceSyncService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$ip\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/AttendanceDeviceSyncService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$port\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/AttendanceDeviceSyncService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceDevice\:\:\$sync_fail_count\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/AttendanceDeviceSyncService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\AttendanceSummary\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/AttendanceSummaryService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Holiday\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/AttendanceSummaryService.php

		-
			message: '#^Parameter \#1 \$punches of static method Easybdit\\LaravelEasyAttendance\\Models\\Attendance\:\:resolveDayWindow\(\) expects Illuminate\\Support\\Collection\<int, Easybdit\\LaravelEasyAttendance\\Models\\Attendance\>, Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/AttendanceSummaryService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:\$allowances\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/SalaryService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\Employee\:\:\$basic_salary\.$#'
			identifier: property.notFound
			count: 3
			path: src/Services/SalaryService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\SpecialWorkingDay\:\:\$date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/SalaryService.php

		-
			message: '#^Access to an undefined property Easybdit\\LaravelEasyAttendance\\Models\\EmployeeShift\:\:\$shift\.$#'
			identifier: property.notFound
			count: 1
			path: src/Support/ShiftResolver.php

		-
			message: '#^Relation ''shift'' is not found in Easybdit\\LaravelEasyAttendance\\Models\\EmployeeShift model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: src/Support/ShiftResolver.php
